/* CSS Document */
body{
  font-family: Verdana;
  background-image: url("images/savana.jpg")
  
}

h2{
  color: #4FD64F;
  font-variant: small-caps;
  
}
div {
  margin: 1px;
}
.clearfix {
    overflow: auto;
    
}
a {
    text-decoration: none;
    font-family: Verdana;
    font-variant: small-caps;
    font-size: 14pt;
    color: white;
  }
  
a:hover {
  color: black;
}  
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}
li{
    float: left;
}
li a {
    
    width: 60px;
    height: 40px;
    background-color: #4FD64F;
    padding: 10px;
    margin: 1px;
}
#audio {
    float: left;
    overflow: hidden;
    //background-color: #4FD64F;
    //opacity: 0.5;
    //background-image: url("images/backg.jpg");
}

#cdart {
  background-image: url("images/bongani.jpg");
  width: 480px;
    height: 360px;
    opacity:1;
}
#bio {
     float: left;
     width: 460px;
    min-height: 650px;
    opacity:0.75;
    background-color: #4FD64F;
    //background-image: url("images/backg.jpg");
    padding: 5px;
    padding-left: 10px;
}

#ad {
    float: left;
}

.social{

}

#content {
  background-image: url("images/backb.jpg");
  background-color: #111;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4FD64F;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
} 

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#sidebutton
{
  font-size:24px;font-variant: small-caps;cursor:pointer;float:left;margin-top: 10px;margin-right: 5px;
}
#myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
  overflow: visible;
}

#myBar {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #4CAF50;
}

#label {
  text-align: center;
  line-height: 30px;
  color: white;
}