/* CSS Document */
body{
  font-family: Verdana;
  
}

div {
  margin: 1px;
}
.clearfix {
    overflow: auto;
}
a {
    text-decoration: none;
    font-family: Verdana;
    font-variant: small-caps;
    font-size: 14pt;
    color: white;
  }
  
a:hover {
  color: black;
}  
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}
li{
    float: left;
}
li a {
    
    width: 60px;
    height: 40px;
    background-color: #4FD64F;
    padding: 10px;
    margin: 1px;
}
#audio {
    float: left;
    overflow: auto;
    
}

#cdart {
  background-image: url("images/bongani.jpg");
  width: 480px;
    height: 360px;
}
#bio {
     float: left;
     width: 360px;
    height: auto;
    background-color: #4FD64F;
    padding: 5px;
}

#ad {
    float: left;
}

#content {
  background-image: url("images/backb.jpg");
  background-color: #111;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
} 

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#sidebutton
{
  font-size:24px;font-variant: small-caps;cursor:pointer;float:left;margin-top: 10px;margin-right: 5px;
}